<?xml version="1.0"?>
<config>
    <modules>
        <Magic_Catalog>
            <version>7.0.0</version>
        </Magic_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_media>Magic_Catalog_Block_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
            <magic>
                <class>Magic_Catalog_Block</class>
            </magic>
        </blocks>
        <models>
            <magic>
                <class>Magic_Catalog_Model</class>
            </magic>
        </models>
        <helpers>
            <magic_catalog>
                <class>Magic_Catalog_Helper</class>
            </magic_catalog>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <magic_cloudzoom>
                    <file>magic_cloudzoom.xml</file>
                </magic_cloudzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magic_cloudzoom translate="title" module="magic_catalog">
                                            <title>Mdl Product Zoom"</title>
                                            <sort_order>50</sort_order>
                                        </magic_cloudzoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <magic_cloudzoom>
            <general>
                <enabled>1</enabled>
            </general>
            <zoomImage>
                <zoomWidth>400</zoomWidth>
                <zoomHeight>400</zoomHeight>
                <position>right</position>
                <smoothMove>3</smoothMove>
                <showTitle>1</showTitle>
                <titleOpacity>1</titleOpacity>
                <adjustX>0</adjustX>
                <adjustY>0</adjustY>
            </zoomImage>
            <lens>
                <lensOpacity>7.0</lensOpacity>
            </lens>
            <originalImage>
                <imageWidth>400</imageWidth>
                <imageHeight>400</imageHeight>
                <tint></tint>
                <tintOpacity>5.5</tintOpacity>
                <softFocus>0</softFocus>
            </originalImage>
        </magic_cloudzoom>
    </default>
</config>