<?xml version="1.0"?>

<config>
    <modules>
        <VS_Bestseller>
            <version>2.0</version>
        </VS_Bestseller>
    </modules>
    <global>
        <helpers>
            <bestseller>
                <class>VS_Bestseller_Helper</class>
            </bestseller>
        </helpers>		
		<blocks>
			<bestseller>
				<class>VS_Bestseller_Block</class>
			</bestseller>
		</blocks>
        <resources>
            <bestseller_setup>
                <setup>
                    <module>VS_Bestseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestseller_setup>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
    </global>
	<default>
        <bestseller>
            <general>
                <enabledleft>1</enabledleft>
				<enabledright>1</enabledright>
				<howmany>5</howmany>			
            </general>			
        </bestseller>
		
    </default>
    <frontend>
        <layout>
            <updates>
                <bestseller>
                    <file>bestseller.xml</file>
                </bestseller>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bestseller>
                                            <title>Sidebar Review</title>
                                        </bestseller>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
